#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    draw_borders: true,
    show_song_table_header: true,
    background_color: "#11111b",
    default_album_art_path: None,
    header_background_color: None,
    modal_background_color: "#1e2030",
    modal_backdrop: true,
    format_tag_separator: " | ",
    multiple_tag_resolution_strategy: Last,
    text_color: None,
    preview_label_style: (fg: "#f9e2af"),
    preview_metadata_group_style: (fg: "#f9e2af", modifiers: "Bold"),
    level_styles: (
        info: (fg: "#89b4fa", bg: "#1e2030", modifiers: "Bold"),
        warn: (fg: "#fab387", bg: "#1e2030", modifiers: "Bold"),
        error: (fg: "#f38ba8", bg: "#1e2030", modifiers: "Bold"),
        debug: (fg: "#a6e3a1", bg: "#1e2030"),
        trace: (fg: "#cba6f7", bg: "#1e2030"),
    ),
    cava: (
        bar_width: 3,
        bar_spacing: 1,
        orientation: Bottom,
        bar_color: Gradient({
              0: "#f9e2af",
             12: "#cba6f7",
             25: "#b4befe",
             37: "#89b4fa",
             50: "#94e2d5",
             62: "#a6e3a1",
             75: "#f38ba8",
             87: "#fab387",
            100: "#f9e2af",
        }),
    ),
    lyrics: (
        timestamp: false,
    ),
    components: {
        "state": Pane(Property(
            content: [
                (kind: Property(Status(StateV2(
                    playing_label: " ",
                    paused_label: " ",
                    stopped_label: " ",
                    playing_style: (fg: "#a6e3a1", modifiers: "Bold"),
                    paused_style: (fg: "#f9e2af", modifiers: "Bold"),
                    stopped_style: (fg: "#f38ba8", modifiers: "Bold")
                ))), style: (fg: "#f9e2af", modifiers: "Bold")),
                (kind: Text("["), style: (fg: "#f9e2af", modifiers: "Bold")),
                (kind: Property(Status(StateV2())), style: (fg: "#f9e2af", modifiers: "Bold")),
                (kind: Text("] "), style: (fg: "#f9e2af", modifiers: "Bold")),
            ], align: Left,
        )),
        "title": Pane(Property(
            content: [
                (kind: Property(Song(Title)), style: (fg: "#f9e2af", modifiers: "Bold"),
                    default: (kind: Text("No Song"), style: (fg: "#f9e2af", modifiers: "Bold"))),
            ], align: Center, scroll_speed: 1
        )),
        "volume": Pane(Property(
            content: [
                (kind: Text("[Volume]: "), style: (fg: "#f9e2af", modifiers: "Bold")),
                (kind: Property(Status(Volume)), style: (fg: "#f9e2af", modifiers: "Bold")),
                (kind: Text("%"), style: (fg: "#94e2d5", modifiers: "Bold")),
            ], align: Right
        )),
        "elapsed_and_bitrate": Pane(Property(
            content: [
                (kind: Property(Status(Elapsed)), style: (fg: "#f9e2af")), 
                (kind: Text(" / ")), 
                (kind: Property(Status(Duration)), style: (fg: "#f9e2af")), 
            ],
            align: Left,
        )),
        "artist_album": Pane(Property(
            content: [
                (kind: Property(Song(Artist)), style: (fg: "#89b4fa", modifiers: "Bold"),
                    default: (kind: Text("Unknown"), style: (fg: "#89b4fa", modifiers: "Bold"))),
                (kind: Text(" - ")),
                (kind: Property(Song(Album)), style: (fg: "#89b4fa"), default: (kind: Text("Unknown Album"), style: (fg: "#89b4fa")))
            ], align: Center, scroll_speed: 2
        )),
        "states": Pane(Property(
            content: [
                (kind: Property(Status(RepeatV2(
                    on_label: " ",
                    off_label: " ",
                    on_style: (fg: "#a6e3a1", modifiers: "Bold"),
                    off_style: (fg: "#45475a", modifiers: "Dim"),
                )))),
                (kind: Text(" ")),
                (kind: Property(Status(RandomV2(
                    on_label: " ",
                    off_label: " ",
                    on_style: (fg: "#94e2d5", modifiers: "Bold"),
                    off_style: (fg: "#45475a", modifiers: "Dim"),
                )))),
                (kind: Text(" ")),
                (kind: Property(Status(SingleV2(
                    on_label: "󰑘 ",
                    off_label: "󰑘 ",
                    oneshot_label: "󰑘 ",
                    on_style: (fg: "#f9e2af", modifiers: "Bold"),
                    off_style: (fg: "#45475a", modifiers: "Dim"),
                    oneshot_style: (fg: "#f9e2af", modifiers: "Bold"),
                )))),
                (kind: Text(" ")),
                (kind: Property(Status(ConsumeV2(
                    on_label: " ",
                    off_label: " ",
                    oneshot_label: " ",
                    on_style: (fg: "#cba6f7", modifiers: "Bold"),
                    off_style: (fg: "#45475a", modifiers: "Dim"),
                    oneshot_style: (fg: "#f9e2af", modifiers: "Dim"),
                )))),
            ], align: Right
        )),
        "top_row": Split(
            direction: Horizontal,
            panes: [
                (size: "15", pane: Component("state")),
                (size: "100%", borders: "LEFT | RIGHT", pane: Component("title")),
                (size: "15", pane: Component("volume")),
            ],
        ),
        "bottom_row": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "15",
                    pane: Component("elapsed_and_bitrate"),
                ),
                (
                    size: "100%",
                    borders: "LEFT | RIGHT",
                    pane: Component("artist_album"),
                ),
                (
                    size: "15",
                    pane: Component("states"),
                ),
            ],
        ),
        "header": Split(
            direction: Vertical,
            panes: [
                (
                    size: "1",
                    direction: Vertical,
                    pane: Component("top_row"),
                ),
                (
                    size: "1",
                    direction: Vertical,
                    pane: Component("bottom_row"),
                ),
            ] 
        ),
        "progress_bar": Split(
            direction: Horizontal,
            panes: [
                (
                    size: "100%",
                    pane: Split(
                        direction: Horizontal,
                        panes: [
                            (
                                size: "21%",
                                pane: Pane(Property(content: [])),
                            ),
                            (
                                size: "3",
                                pane: Pane(Property(content: [(kind: Property(Status(StateV2(playing_label: "", paused_label: "", stopped_label: "",
                                    playing_style: (fg: "#FAB387"), paused_style: (fg: "#FAB387"), stopped_style: (fg: "#FAB387")
                                ))))], align: Left)),
                            ),
                            (
                                size: "50%",
                                pane: Pane(ProgressBar),
                            ),
                            (
                                size: "26%",
                                pane: Pane(Property(content: [])),
                            ),
                        ]
                    ),
                ),
            ]
        ),
    },
    layout: Split(
        direction: Vertical,
        panes: [
            (
                size: "4",
                pane: Component("header"),
            ),
            (
                size: "3",
                pane: Pane(Tabs),
            ),
(
                size: "100%",
                pane: Pane(TabContent),
            ),
            (
                size: "1",
                pane: Pane(Property(content: [(kind: Text(" "))])),
            ),
            (
                size: "1",
                pane: Pane(Property(content: [(kind: Text(" "))])),
            ),
            (
                size: "1",
                pane: Pane(Property(content: [(kind: Text(" "))])),
            ),
            (
                size: "1",
                pane: Pane(Property(content: [(kind: Text(" "))])),
            ),
            (
                size: "1",
                borders: "NONE",
                pane: Component("progress_bar"),
            )
        ]
    ),
    symbols: (
        song: "🎵",
        dir: "🗂️",
        playlist: "🎼",
        marker: "\u{e0b0}",
        ellipsis: "…",
        song_style: (fg: "#89b4fa"),
        dir_style: None,
    ),
    progress_bar: (
        symbols: ["│", "│", "│", "│", "│" ],
        track_style: (fg: "#313244"),
        elapsed_style: (fg: "#FAB387", modifiers: "Bold"),
        thumb_style: (fg: "#FAB387", bg: "#313244"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "#1e2030"),
        ends_style: (fg: "#89b4fa"),
        thumb_style: (fg: "#b4befe", modifiers: "Bold"),
    ),
    browser_column_widths: [20, 38, 42],
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" - ")),
            ]),
        ),
        (
            kind: Property(Other("name")),
            default: (
                kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]),
                default: (kind: Property(Filename))
            ),
        ),
        (
            kind: Text(" Rating: "),
        ),
        (
            kind: Sticker("rating"),
            default: (kind: Text("-"))
        ),
    ],
    tab_bar: (
        active_style: (fg: "#11111b", bg: "#89b4fa", modifiers: "Bold"),
        inactive_style: (fg: "#F4DBD6"),
    ),
    highlighted_item_style: (fg: "#b4befe", modifiers: "Bold"),
    current_item_style: (fg: "#11111b", bg: "#b4befe", modifiers: "Bold"),
    borders_style: (fg: "#585b70", modifiers: "Dim"),
    highlight_border_style: (fg: "#89b4fa", modifiers: "Bold"),
    song_table_album_separator: None,
    song_table_format: [
        (
            prop: (kind: Property(Position)),
            width: "3",
            alignment: Right,
            label: "#"
        ),
        (
            prop: (kind: Property(Other("albumartist")), default: (kind: Property(Artist), default: (kind: Text("Unknown")))),
            width: "25%",
            label: "Artist"
        ),
        (
            prop: (kind: Property(Title), default: (kind: Text("Unknown"))),
            width: "40%",
        ),
        (
            prop: (kind: Property(Album), default: (kind: Text("Unknown Album"))),
            width: "32%",
        ),
        (
            prop: (kind: Property(Duration),default: (kind: Text("-"))),
            width: "6",
            alignment: Right,
            label: "Time"
        ),
    ],
    header: (rows: []),
)