:root {
  --window-bg-color: #191724;
  --view-bg-color: #191724;
  --headerbar-bg-color: #191724;
  --sidebar-bg-color: #191724;
  --secondary-sidebar-bg-color: #191724;
  --dialog-bg-color: #191724;
  --popover-bg-color: #191724;
  --sidebar-backdrop-color: #191724;
  --secondary-sidebar-backdrop-color: #191724;
  --headerbar-backdrop-color: #191724;
}
